{#include base}
{#title}{/title}
{#body}
<header class="header">
    <h1>FinanceApp</h1>
</header>
<section class="main">

<!--    <form action="/finance/upload" method="POST" hx-target="#todo-list" hx-swap="beforeend">-->
<!--        <input class="file" name="title" placeholder="What needs to be done?" autofocus>-->
<!--    </form>-->
<!--    <form id='form' action="/finance/upload" method="POST" hx-encoding='multipart/form-data'>-->
<!--        <input type='file' name='file'>-->
<!--        <button>-->
<!--            Upload-->
<!--        </button>-->
<!--        <progress id='progress' value='0' max='100'></progress>-->
<!--        <div>-->
<!--            <select id="bankType" name="bankType" hx-get="/bank/types" hx-target="#bankTypes" hx-indicator=".htmx-indicator">-->
<!--                ...-->
<!--            </select>-->
<!--            <img class="htmx-indicator" width="20" src="/img/bars.svg">-->
<!--        </div>-->
<!--    </form>-->
<!--    <script>-->
<!--        htmx.on('#form', 'htmx:xhr:progress', function(evt) {-->
<!--          htmx.find('#progress').setAttribute('value', evt.detail.loaded/evt.detail.total * 100)-->
<!--        });-->
<!--    </script>-->

    <form hx-encoding='multipart/form-data' hx-post='/finance/upload'
          _='on htmx:xhr:progress(loaded, total) set #progress.value to (loaded/total)*100'>
        <input type='file' name='file'>
        <button>
            Upload
        </button>
        <progress id='progress' value='0' max='100'></progress>
    </form>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody hx-trigger="load" hx-get="/finance/list" hx-swap="innerHTML"   hx-target="#records">

                {#for transaction in financialRecords}
                <tr>
                    <td>{transaction.date}</td>
                    <td>{transaction.value}</td>
                    <td>{transaction.description}</td>
                    <td>{transaction.finalBalance}</td>
                </tr>
                {/for}
            </tbody>
        </table>
    </div>

</section>
<footer>
</footer>
{/body}
{/include}